<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Recent Messages</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Subject</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each messages}}
            <tr>
              <td>{{id}}</td>
              <td>{{first_name}} {{last_name}}</td>
              <td>{{email}}</td>
              <td>{{subject}}</td>
              <td>
                <a href="/admin/messages/{{id}}"><button class="btn btn-info btn-sm">View</button></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>