<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Message Details</h4>
      </div>
      <div class="card-body">
        <b>Name:</b> {{message.first_name}} {{message.last_name}}<br><br>
        <b>Email:</b> {{message.email}}<br><br>
        <b>Subject:</b> {{message.subject}}<br><br>
        <b>Message:</b> <br>
        {{message.message}}
        <br><br>
      </div>
    </div>
  </div>
</div>