<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Recent Orders</h4>
      </div>
      <div class="card-body">
        <form action="/admin/orders/search" method="get" accept-charset="UTF-8">
          <br>
          <input type="text" class="form-control" placeholder="Search Keyword" name="query"><br>
          <br>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order #</th>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td>{{created_at}}</td>
              <td>{{formatted_date}}</td>
              <td>{{name}}</td>
              <td>Rs. {{total}}</td>
              <td>{{status}}</td>
              <td>
                <a href="/admin/orders/{{id}}"><button class="btn btn-info btn-sm">View</button></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>