<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Add Product</h4>
      </div>
      <div class="card-body">
        <form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
          <br>
          <input type="text" class="form-control" placeholder="Title" name="title"><br>
          <input type="text" class="form-control" placeholder="Price" name="price"><br>
          <textarea class="form-control" placeholder="Description" name="description"></textarea><br>
          Select Image:<br>
          <input type="file" name="image" />
          <br>
          <br>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Add Product</button>
          </div>
        </form>



      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Current Products</h4>
      </div>
      <div class="card-body">
        <form action="/admin/products/search" method="get" accept-charset="UTF-8">
          <br>
          <input type="text" class="form-control" placeholder="Search Keyword" name="query"><br>
          <br>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <td>{{id}}</td>
              <td>{{title}}</td>
              <td>{{price}}</td>
              <td>
                <a href="/admin/products/edit/{{id}}"><button class="btn btn-info btn-sm">Edit</button></a>
                <a href="/admin/products/delete/{{id}}"><button class="btn btn-danger btn-sm">Delete</button></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>